
<!-- <div >

<img src="../../assets/images/vietnam1.png" alt="coffee">

<br><br>

<img src="../../assets/images/vietnam2.png"  alt="hanoi_acttraction">

<br><br>
<h2> Halong bay (UNESCO World Heritage Site) </h2>
<img src="../../assets/images/vietnam3.png"  alt="halong">

<br><br>
<h2> Phong Nha – Ke Bang National Park (UNESCO World Heritage Site) </h2>


<img src="../../assets/images/vietnam4.png"  alt="phongnha">

<br><br>

<h2>  Cat Ba Island - Hai Phong </h2>
<img src="../../assets/images/vietnam5.png"  alt="catba">

<br><br>

<img src="../../assets/images/vietnam6.png"  alt="welcome">

</div > -->


<h1 style="color: #004aad;">Ha Long Bay </h1>
For many, the seascape of Halong Bay is synonymous with Vietnam. Cruises sail emerald green waters among thousands of rugged islands and islets, stopping at spectacular caves through which visitors can wander, viewing impressive, centuries-old formations. Ha Long Bay’s mystical beauty has made it a bucket list attraction within the country, but it’s still possible to find secluded corners to call your own.
<img src="../../assets/images/halong.jpg"  alt="halong">
<h1 style="color: #004aad;">Ninh Binh </h1>
Far too few travelers make it to Ninh Binh, a mesmerizing area known locally as “Ha Long Bay on Land” thanks to its magical riverine landscape, with sheer limestone mountains rising up from the paddies. The best way to get a sense of this UNESCO-protected site is by taking a paddleboat tour along its shimmering rivers, and climbing to the top of its fabled peaks.
<img src="../../assets/images/2. Ninh Bình.jpg"  alt="NinhBinh">
<h1 style="color: #004aad;">Da Nang </h1>
With broad beaches, fantastic street food, the fabled Hai Van Pass, and a growing collection of cafes, restaurants, and bars, it’s no wonder the residents of Da Nang sport some of the broadest smiles in the country. The warm sands of My Khe Beach sweep south from the mountainous Son Tra Peninsula. Da nang hosts some of Vietnam’s top luxury resorts, but much of the beach still belongs to the people who make it their playground, gym, and source of livelihood.
<img src="../../assets/images/3. Đà Nẵng.jpg"  alt="NinhBinh">
<h1 style="color: #004aad;">Hoi An </h1>
Hoi An is a place where the bold march of progress peters into a leisurely amble. In this one-time trading port, the Thu Bon River meanders past crumbling shophouses and weathered pagodas, while sampans come and go from the old ferry quay. Outside the Old Town, two-lane roads slice through waving rice fields and emerge at a frothy coastline. Stay a couple of days, and Hoi An’s easygoing beauty and lantern-lit nights may leave you hopelessly beguiled.
<img src="../../assets/images/4. Hội An.jpg"  alt="NinhBinh">
<h1 style="color: #004aad;">Sapa </h1>
Sapa town stands at the head of a deep valley of magnificent rice terraces that are still farmed today as they have been for centuries. Backdrops don’t get much more spectacular. Enticing ribbons of road lead the eye down to the valley floor, white-water rivers rush among rice fields, and lush green mountains stretch into the distance as far as the eye can see. The highest peak in the region, Mount Fansipan, crowns the ragged ridge line high above town.
<img src="../../assets/images/5. Sa Pa.png"  alt="NinhBinh">












